.zti {
	.zti__image-button {
		align-items: stretch;
		background: rgba(255, 255, 255, 0.04);
		border: 1px dashed rgba(255, 255, 255, 0.2);
		display: flex;
		justify-content: center;
		min-height: 280px;
		padding: 0;
		width: 100%;

		&.has-image {
			border: 0;
			display: block;
		}

		img {
			display: block;
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}
